body{
    background-color: #FF3D3D;
}

.col-auto{
    margin-left: 20px;

}

button{
    margin-left: 5px;
    margin-right: 5px;
}
.forms-container{
    width: 20%;
    margin: auto;
    margin-top: 25px;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.img {
    width: 100px;
    height: auto;
}